/*/bin/
/*/target/
/*/report/
tmp*
.metadata
.DS_Store
**/*.class
**/*.iml
**/*.prefs
**/doc/**/*.aux
**/doc/**/*.bbl
**/doc/**/*.blg
**/doc/**/*.idx
**/doc/**/*.out
**/doc/**/*.synctex.gz
**/doc/**/*.toc
**/doc/**/*.loc